<h1>{{movies.title}}</h1>
<p>{{}}</p>
{{#each movies.cast}}
<p>{{this.name}}</p>
{{/each}}
<form action="/movies/{{movies._id}}/delete" method="POST"> 
          <button >Delete</button>
        </form>